services:
  backend:
    image: CHANGEIMAGE
    ports:
      - "8080:80"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == worker
    networks:
      - CHANGE_NETWORK

networks:
  CHANGE_NETWORK:
    external: true
